.nav {
    grid-area: n;
    background-color: #ffffff;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

.item {
    border: darkgrey solid 1px;
    width: 15%;
    height: 100%;
    text-align: center;
    margin-right: 5px;
}