.infoBar {
    grid-area: i;
    background-color: rgb(255, 255, 255);
    min-height: 500px;
    max-height: 1000px;
    border: 1px rgb(58, 58, 58) solid;
    border-radius: 2px;
    background-image: url('https://wallpapercave.com/wp/wp5437795.jpg');
    background-size: cover;
    background-clip: content-box;
    background-position: -45px 0;
    margin-bottom: 20px;
}