.appWrapper {
    display: grid;
    grid-template-areas:
  "h h"
  "c i";
    grid-template-rows: 330px 1fr;
    grid-template-columns: 9fr 4fr;
    width: 1100px;
    margin: 0 auto;
    grid-gap: 30px;
}