.userItem {
    margin: 0 0 10px 0;
    display:grid;
    grid-template-columns: 70px 1fr;
    grid-template-areas: 'inf inf';
    height: 70px;
    width: 100%;
}

.profileImg {
    margin: 5px;
    border-radius: 50px;
    grid-area: img;
    width: 50px;
    height: 50px;
}

.itemBlock {
    grid-area: inf;
    border: #000000 solid 1px;
    border-radius: 1px;
    background-color: rgba(18, 0, 19, 0.568);
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.userInfo {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin: 5px;
}

.userAvatarAndName {
    display: flex;
}

.location {
    font-size: 10px;
    color: #3b3b3b;
}

.status {
    font-size: 15px;
    color: #444444;
}