.authUserInfo {
    display: grid;
    grid-template-rows: 220px 1fr;
    grid-template-areas: 'name-and-ava' 'inf';
    color: white;
}

.userName {
    text-align: center;
    width: 100%;
    background-color: rgba(63, 63, 63, 0.5);;
}

.mainInformation {
    grid-area: name-and-ava;
}