.userItem {
    margin: 0 0 20px 0;
    display:grid;
    grid-template-columns: 70px 1fr;
    grid-template-areas: 'img inf';
    height: 70px;
    width: 70%;
}

.profileImg {
    margin: 5px;
    border-radius: 50px;
    grid-area: img;
    width: 50px;
    height: 50px;
}

.itemBlock {
    grid-area: inf;
    border: #232323 solid 1px;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.userInfo {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.location {
    font-size: 10px;
    color: #3b3b3b;
}

.status {
    font-size: 15px;
    color: #444444;
}

.pagination {
    text-align: center;
    margin-bottom: 20px;
}

.pagination > span {
    border: #232323 solid 1px;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 5px;
    margin: 0 2px;
    text-align: center;
}

.currentPage {
    font-weight: bold;
}