.nav {
    grid-area: n;
    background-color: rgba(18, 0, 19, 0.568);
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    transition: background-color .5s ease;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.logoutIcon {
    width: 35px;
}

.activeLink {
    background-color: #000000;
}

.item:hover {
    background-color: rgba(211, 211, 211, 0.644);
}

.logoutButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    transition: background-color .5s ease;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.logoutButton:hover {
    background-color: rgba(90, 0, 0, 0.658);
}