.dialogContent {
    grid-area: dialogs;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    padding: 30px;
}

.message {
    border: #c4c4c4 1px solid;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 20px;
}

.in{
    align-self: flex-end;
    background-color: #eaeaea;
}

.out{
    align-self: flex-start;
    background-color: #d2d2d2;
}

.dialogHead {
    width: 100%;
    height: 50px;
    background-color: #f6f6f6;
    border-bottom: #d5d5d5 1px solid;
    text-align: center;
    padding-top: 10px;
}

.inputArea {
    display: flex;
    height: 50px;
    padding: 10px;
    justify-content: center;
}

.textInput {
    width: 75%;
    height: 90%;
}

.sendButton {
    height: 100%;
}